<a href="https://colab.research.google.com/github/ninad-kul/Calculating-Fibonacci-series-with-matrix-multiplication/blob/main/Fibonacci_Series_using_transformation_matrix.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
from numpy.linalg import matrix_power

Calculating the N-th element of fibonacci series

In [8]:
def fib_matrix(n):
    A = np.array([[1,1],         # Transfromation matrix
                  [1,0]])

    x = np.array([0,1])          # First 2 elements are 0 and 1
    A_transf = matrix_power(A,n)
    res = np.dot(A_transf,x)
    value = res[0]
    return value

fib_matrix(10)

55

Printing fibonacci series

In [9]:
n = 10
fibo_list = []

# it will print one element less because the for loop runs upto n-4
for i in range(n):
    fibo_list.append(fib_matrix(i))
print(fibo_list)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

Fibonacci function using recursion addition

In [ ]:
fib = [0, 1]

def fibonacci(n):
    if n<0:
        print("Invalid input")
    elif n<len(fib):
        return fib[n]
    else:
        fib.append(fibonacci(n-1) + fibonacci(n-2))
        return fib[n]

print(fibonacci(10))
print(fib)

55
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

Trials

In [ ]:
A = np.array([[1,1],[1,0]])
x = np.array([0,1])
A2 = matrix_power(A,9)
res = np.dot(A2,x)
result = res[0]

print("Res -- ",res)
print()
print("Nth element -- ",result)

Res --  [34 21]

Nth element --  34